button {
    padding: 15px 25px !important;
    border: unset;
    border-radius: 15px;
    color: #fff;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
   }
   
   

   button.primary{
    background-color: #D88000;
   }

   button.secondary {
    background-color: #A0AB60;
   }
